.content-wrapper {
  max-width: 1170px;
}

.bottom-border {
  border-bottom: 1px solid black;
}
.title {
  background-image: url("images/apple-pie.jpg");
  width:"870px;
}

h1 {
  position: absolute;
  vertical-align: middle;
  text-align: center;
}


